<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
	<script th:src="@{/js/tweet.js}"></script>
	<link th:href="@{/css/tweetlist.css}" rel="stylesheet" type="text/css">
	<th:block th:replace="header.html :: headtag"></th:block>
</head>
<body>
	<div th:replace="header.html :: header" />
	<h1>miniTwitter</h1>
	<table class="nowrap">
		<colgroup>
			<col width="100px">
			<col width="100px">
			<col width="50px">
		</colgroup>
		<tr th:each="tweet : ${tweetList}">
			<td th:text="${tweet.content}"></td>
			<td th:text="${tweet.create_time}"></td>
			<td>
				<form th:action="@{delete/{id}(id=${tweet.id})}" method="post">
					<button class="delete" value="削除">削除</button>
				</form>
			</td>
		</tr>
	</table>
	<button onclick="location.href='add'">ツイートする</button>
</body>
</html>